.MuiTab-textColorPrimary.Mui-selected {
  color: #000000 !important;
}
  
.MuiTabs-indicator {
  background-color: #000000 !important;
}

.MuiTab-textColorPrimary.Mui-selected:focus {
  outline: none!important;
}
