@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import '../base-styles/variable.scss';

.addProduct_wrapper {
    width:80%; 
    margin: 0 auto;
}

.inputContainer {
    font-family: 'Merriweather', serif !important;

    border: 1px solid $inputs;
	padding: 5px;
	border-radius: 5px ;
	font-family: inherit;
	font-weight: normal !important;
    &:hover {
		border: 1px solid $hoverButtons;
	}
	&:focus {
		border: 1px solid $primaryColor;
		outline: none;
	}
	&:focus-within {
		border: 1px solid $primaryColor;
	}  

}

.inputTextArea {
    width: 100% !important;
}

.inputButton {
    background: $primaryColor !important;
    width: 100px !important;
    color: #ffffff !important;
    border: 1px solid $primaryColor !important;

    &:hover {
        background: #ffffff !important;
        width: 100px !important;
        color: $primaryColor !important;
        border: 1px solid $primaryColor !important;
    }

    &:focus {
        background: #ffffff !important;
        width: 100px !important;
        color: $primaryColor !important;
        border: 1px solid $primaryColor !important;
        outline: 5px auto $primaryColor !important;
    }
}

.inputButtonWrapper {
    display: flex;
    justify-content: flex-end;
}