@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

.ui.tabular.menu .item {
    width: 50% !important;
}

.ui.attached.segment {
    border: none !important;
}

.ui.attached.tabular.menu {
    font-family: 'Merriweather', serif !important;
   
}